apiVersion: v1
kind: Secret
metadata:
  name: snowflake-credentials
type: Opaque
stringData:
  SNOWFLAKE_ACCOUNT: "ER19736"
  SNOWFLAKE_USER: "skillicinski"
  SNOWFLAKE_PRIVATE_KEY: |
    -----BEGIN PRIVATE KEY-----
    ...
    -----END PRIVATE KEY-----
  SNOWFLAKE_PRIVATE_KEY_PASSPHRASE: ""