name: ci
on:
  pull_request:
    branches:
      - main

jobs:
  dbt-compile:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: set up uv
        uses: astral-sh/setup-uv@5
      - name: install dependencies
        run: uv sync
      - name: run dbt compile
        working-directory: dbt/superstore
        run: uv run dbt compile

  docker-build:
    runs-on: ubuntu-latest
    needs: dbt-build
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: build docker image
        run: docker build -t superstore-dbt .