name: ci
on:
  pull_request:
    branches:
      - main

jobs:
  dbt-compile:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: set up uv
        uses: astral-sh/setup-uv@v7.3.0
      - name: install dependencies
        run: uv sync
      - name: run dbt compile
        working-directory: dbt/superstore
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_PRIVATE_KEY: ${{ secrets.SNOWFLAKE_PRIVATE_KEY }}
        run: uv run dbt compile

  docker-build:
    runs-on: ubuntu-latest
    needs: dbt-compile
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: build docker image
        run: docker build -t superstore-dbt .