name: ci
on:
  pull_request:
    branches:
      - main
    paths:
      - 'dbt/**'
      - 'Dockerfile'
      - 'entrypoint.sh'
      - 'pyproject.toml'
      - 'uv.lock'
      - '.github/workflows/ci.yml'
      - 'terraform/**'

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: GCP auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/453807572642/locations/global/workloadIdentityPools/github-actions/providers/github
          service_account: github-actions@project-2c81508f-6a88-4f9c-86d.iam.gserviceaccount.com
      - name: set up terraform
        uses: hashicorp/setup-terraform@v3
      - name: terraform init
        working-directory: terraform
        run: terraform init
      - name: terraform plan
        working-directory: terraform
        env:
          TF_VAR_snowflake_organization_name: ${{ secrets.SNOWFLAKE_ORGANIZATION_NAME }}
          TF_VAR_snowflake_account_name: ${{ secrets.SNOWFLAKE_ACCOUNT_NAME }}
          TF_VAR_snowflake_user: ${{ secrets.SNOWFLAKE_USER }}
          TF_VAR_snowflake_private_key: ${{ secrets.TF_VAR_SNOWFLAKE_PRIVATE_KEY }}
          TF_VAR_gcp_project_id: ${{ secrets.GCP_PROJECT_ID }}
        run: terraform plan

  dbt-compile:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: set up uv
        uses: astral-sh/setup-uv@v7.3.0
      - name: install dependencies
        run: uv sync
      - name: install dbt packages
        working-directory: dbt/superstore
        run: uv run dbt deps
      - name: run dbt compile
        working-directory: dbt/superstore
        env:
          SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
          SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_PRIVATE_KEY: ${{ secrets.SNOWFLAKE_PRIVATE_KEY }}
        run: uv run dbt compile

  docker-build:
    runs-on: ubuntu-latest
    needs: dbt-compile
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: build docker image
        run: docker build -t superstore-dbt .